/* Custom CSS styles */

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.container .text-muted {
    margin: 20px 0;
}

/* Override bootstrap styles */
.navbar-inverse{
    border-radius: 0 !important; 
    background: #242424;
}
.navbar{
    border-radius: 0 !important; 
}

.navbar-inverse .navbar-nav li a{
    background: #242424 !important;
}

.navbar-inverse .navbar-nav li a:hover{
    background: #121212 !important;
    -webkit-transition: background 0.75s; /* Safari */
    transition: background 0.75s;
}

